aside{
    margin: 0 15%;
}
.card{
    margin: 1rem;
}
#inicio{
    margin-top: 100px;
}
#productos{
    margin-top: 100px;

}
#nosotros{
    margin-top: 100px;
}
.accordion{
    margin: 0 20%;
}
#contacto{
    margin: 100px 20%;
}
@media (max-width: 600px){
    aside{
        margin: 0 0;
    }
    #nosotros{
        margin-top: 0;
    }
    .accordion{
        margin: 0 ;
    }
    .accordion{
        margin: 0;
    }
    #contacto{
        margin: 100px 0%;
    }
}
    